<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="taskName" (keyup.enter)="addTask()" class="form-control form-control-lg"
                placeholder="Ingrese tarea">
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
            <div *ngIf="tasksList.length === 0" class="card p-2">
                <h6>No hay tareas para mostrar</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"
                    *ngFor="let task of tasksList; let i = index">
                    <span class="cursor" (click)="updateTask(task, i)">
                        <i [ngClass]="task.state ? 'bi bi-check-circle-fill': 'bi bi-circle'"></i>
                    </span>
                    <strong>{{ task.name }}</strong>
                    <span class="cursor" (click)="deleteTask(i)">
                        <i class="bi bi-trash-fill"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>